<nav class="navbar navbar-expand-sm  navbar-toggleable-sm navbar-light bg-white bg-light shadow m-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" routerLink=""><img [src]="logo"width="40" height="40"></a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/iletisim">İletişim</a>
          </li>
          <ul class=" navbar-nav ml-auto">
            
              <li class="nav-item" *ngIf="check==false">
                <a class="nav-link" routerLink="/login">
                  <i class="fa fa-sign-in"></i>
                  Giriş Yap
                </a>
              </li>
        
              <li class="nav-item" *ngIf="check==false">
                <a class="nav-link" routerLink="/register">
                  <i class="fa fa-user-plus"></i>
                  Kayıt Ol
                </a>
              </li>
              
              <li class="nav-item" *ngIf="checkAdmin==true">
                <a class="nav-link" type="button" routerLink="/admin">
                  <i class="bi bi-person-circle"></i>
                  Admin Panel
                </a>
              </li>     
          </ul>
          <ul class="nav navbar-nav ml-auto" *ngIf="chechToEmail()==true">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user">
                  <span class="badge badge-primary"></span>
                </i>
                {{this.user.firstName}} {{this.user.lastName}}</a>
              <ul class="dropdown-menu dropdown-menu-right">
                <a routerLink="/profile"  class="dropdown-item"><i class="fa fa-pencil fa-fw"></i> Ayarlar</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logOut()"  ><i class="fa fa-sign-out"></i> Çıkış Yap</a>
              </ul>
            </li>
          </ul>
          
        </ul>
        <app-cart-summary></app-cart-summary>
        <div class="d-flex">
          <input class="form-control me-2" id= "filtertext" type="search" placeholder="Ara" aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit">Ara</button>
      </div>
      </div>
    </div>
  </nav>