<body class="text-center" style="margin-top: 50px;">

    <main class="form-signin">
      <form [formGroup]="registerForm">
        <i class="fa fa-car fa-5x"></i>
        <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>
    
        <div class="form-floating">
          <label for="floatingInput">Adınız</label>
          <input formControlName="FirstName" type="text" class="form-control" >
        </div>
    
        <div class="form-floating">
          <label for="floatingInput">Soyadınız</label>
          <input formControlName="LastName" type="text" class="form-control" >
        </div>
    
        <div class="form-floating">
          <label for="floatingInput">E-Posta</label>
          <input formControlName="Email" type="email" class="form-control" id="floatingInput" >
        </div>
    
        <div class="form-floating">
          <label for="floatingPassword">Parola</label>
          <input formControlName="password" type="password" class="form-control" id="floatingPassword">
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button (click)="register()" class="w-100 btn btn-lg btn-secondary">Kayıt Ol</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
    </body>
    