<body class="text-center" style="margin-top: 50px">
  <main class="form-signin">
    <form [formGroup]="registerForm">
      <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>

      <div class="form-floating">
        
        <input
          formControlName="FirstName"
          type="text"
          placeholder="Adınız"
          id="floatingInput"
          class="form-control"
        />
        <label for="floatingInput">Adınız</label>
      </div>

      <div class="form-floating">
        
        <input
          formControlName="LastName"
          type="text"
          placeholder="Soyadınız"
          id="floatingInput"
          class="form-control"
        />
        <label for="floatingInput">Soyadınız</label>
      </div>

      <div class="form-floating">
        <input
        formControlName="Email"
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating">
        
        <input
          formControlName="password"
          type="password"
           placeholder="Şifreniz"
          class="form-control"
          id="floatingPassword"
        />
        <label for="floatingPassword">Parola</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button (click)="register()" class="w-100 btn btn-lg btn-secondary">
        Kayıt Ol
      </button>
    </form>
  </main>
</body>
