<div class="row">
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div> 
    
    <div class="col align-self-center ">
        <div class="card  offset-md-3"  style="width: 360px; " >
        <div class="card text-center ">
            <div class="card-header">
              Marka Ekle
            </div>
            <div class="card-body">
                <form [formGroup]="brandAddForm">
                <label for="brandName" class="form-label">Marka Adı</label>
                <input type="text" class="form-control" id="brandName" formControlName="brandName" placeholder="">
                <a (click)="Addbrand()" class="btn btn-secondary mt-3">Markayı Ekle</a>
            </form>
            </div>
          </div>
        </div>
    </div>
</div>



