
             

    <table class="table">

        <tbody>
            <tr>
                <td>Sipariş No</td>
                <td>Sipariş Durumu</td>
                <td>Ürün Adı</td>
                <td>Ürün Adeti</td>
                <td>Ürün Fiyatı</td>
                <td>Toplam</td>
            </tr>
            

                <tr *ngFor="let order of orders">


                    <td>{{order.orderNumber}}</td>
                    <td>{{order.massage}}</td>
                    <td>{{order.productName}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.price}}</td>
                    <td>{{order.price * order.quantity}}</td>

                </tr>
        </tbody>

    </table>


