<body>
    
    <div class="container  col-md-6">
      <main>
        <div class="py-5 text-center">
          
          <h2>Teslimat Ve Ödeme</h2>
          
        </div>
    
        <div class="row g-5">
          <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-secondary">Sepetiniz</span>
              <span class="badge bg-secondary rounded-pill">{{ cartItems?.length || '0' }}</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let cartItem of cartItems" >
                <div>
                  <h6 class="my-0">{{cartItem.product.productName}}</h6>
                </div>
                <span class="text-muted">{{cartItem.quantity*cartItem.product.unitPrice}}</span>
              </li>
            </ul>
    
            <form class="card p-2">
              <div class="input-group">
                
              </div>
            </form>
          </div>
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Teslimat Adresi</h4>
            <form class="needs-validation" novalidate>
              <form [formGroup]="paycardform">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">First name</label>
                  <input type="text"formControlName="Name" class="form-control" id="firstName" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Last name</label>
                  <input type="text" formControlName="Surname" class="form-control" id="lastName" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="tcno" class="form-label">Tc No</label>
                  <input type="tcno" formControlName="IdentityNumber" class="form-control" id="tcno" placeholder="">
                  <div class="invalid-feedback">
                    Please enter a valid TC no address for shipping updates.
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" formControlName="Email" class="form-control" id="email" placeholder="you@example.com">
                  <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                  </div>
                </div>
                
    
                <div class="col-12">
                  <label for="address" class="form-label">Address</label>
                  <input type="text" formControlName="RegistrationAddress" class="form-control" id="address" placeholder="1234 Main St" required>
                  <div class="invalid-feedback">
                    Please enter your shipping address.
                  </div>
                </div>
    
                <div class="col-md-5">
                  <label for="country" class="form-label">Country</label>
                  <select class="form-select" formControlName="Country" id="country" required>
                    <option value="">Choose...</option>
                    <option>Türkiye</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
    
                <div class="col-md-4">
                  <label for="state" class="form-label">State</label>
                  <select class="form-select" formControlName="City" id="state" required>
                    <option value="">Choose...</option>
                    <option *ngFor="let city of cities">{{city.city_name}}</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
    
               
              </div>
    
              <hr class="my-4">
    
              <div class="form-check">
                <input type="checkbox"  class="form-check-input" id="same-address">
                <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
              </div>
    
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="save-info">
                <label class="form-check-label" for="save-info">Save this information for next time</label>
              </div>
    
              <hr class="my-4">
    
              <h4 class="mb-3">Ödeme</h4>
              
              <div class="row gy-3">
                <div class="col-md-6">
                  <label for="cc-name" class="form-label">Name on card</label>
                  <input type="text" formControlName="CardHolderName" class="form-control" id="cc-name" placeholder="" required>
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
    
                <div class="col-md-6">
                  <label for="cc-number" class="form-label">Credit card number</label>
                  <input type="text" formControlName="CardNumber" class="form-control" id="cc-number" placeholder="" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
    
                <div class="col-md-2">
                  <label for="cc-expiration" class="form-label">Expiration</label>
                  <select class="form-select" formControlName="ExpireMonth" id="state" required>
                    <option value="">Month</option>
                    <option value='01'>January</option>
                    <option value='02'>February</option>
                    <option value='03'>March</option>
                    <option value='04'>April</option>
                    <option value='05'>May</option>
                    <option value='06'>June</option>
                    <option value='07'>July</option>
                    <option value='08'>August</option>
                    <option value='09'>September</option>
                    <option value='10'>October</option>
                    <option value='11'>November</option>
                    <option value='12'>December</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>

                <div class="col-md-2">
                  <label for="cc-cvv" class="form-label">Year</label>
                  <input type="text" formControlName="ExpireYear" maxlength = "2" minlength="2" class="form-control" id="cc-cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
    
                <div class="col-md-3">
                  <label for="cc-cvv" class="form-label">CVV</label>
                  <input type="text" formControlName="Cvc" class="form-control" id="cc-cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>
              </form>
              <hr class="my-4">
    
              <button class="w-100 btn btn-secondary btn-lg" (click)="Addcard()" type="submit">Continue to checkout</button>
            </form>
          </div>
        </div>
      </main>
    
</div>
    
